<%= form_for @schedule, :format => "ics", :html => { :class => 'form-horizontal' } do |f|%>
	<%= render "shared/error_messages", :target => @schedule %>
	<div class="control-group">
		<%= f.label :student_id, "Matrikelnr.", :class => 'control-label'%>
		<div class="controls">
			<%= f.text_field :student_id, :class => "span2" %>	
		</div>
	</div>
	<div class="control-group">
		<%= f.label :hash_string, :class => 'control-label' do %>
			Hash <a href="<%= url_for asset_path("BA_Stundenplan2CAL.pdf") %>"><i class="icon icon-question-sign"></i></a>
		<% end %>
		<div class="controls">
			<%= f.text_field :hash_string, :class => "span2" %>	
		</div>
	</div>
	<div class="control-group">
		<%= f.label :start_date, "Termine ab", :class => 'control-label'%>
		<div class="controls">
			<%= f.text_field :start_date, :class => "span2 datepicker" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :end_date, "Termine bis", :class => 'control-label'%>
		<div class="controls">
			<%= f.text_field :end_date, :class => "span2 datepicker" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.submit ".ics generieren", :class => "btn btn-large btn-success submit" %> <span class="or">oder</span>
		<%= link_to "Abo generieren", subscribe_schedules_path, :class => "btn btn-large btn-primary submit", :remote => true %>
	</div>		
<% end%>
